.searchCont {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;
	width: 100%;
	max-width: 1100px;
}

.search {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;
	width: 50%;
}

.search input {
	padding: 5px 15px;
	border-radius: 10px;
	min-width: 300px;
	height: 40px;
	width: 100%;
	outline: none;
	border: none;
}

.options {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 40px;
	background-color: whitesmoke;
	width: 100%;
	min-width: 300px;
	border-radius: 10px;
	color: rgb(37, 37, 37);
	margin-top: 5px;
	padding: 10px 0;
	min-height: 50px;
	max-height: 100vh;
	text-overflow: ellipsis;
	overflow: hidden;
	z-index: 5;
}

.options div {
	max-height: calc(20rem - 10px);
  overflow-y: scroll;
}
.options div::-webkit-scrollbar{
  display: none;
}

.options a {
	display: flex;
	font-size: 1rem;
	height: 4rem;
	/* width: 55px; */
	/* position: absolute; */
	/* top: 15px; */
	/* left: 1.5rem; */
	width: 100%;
	padding: 2px 0;
	padding-left: 15px;
}

.options a span :nth-child(n + 2) {
	font-size: 0.8rem;
}

@media (hover: hover) and (pointer: fine) {
	.options a:hover {
		background-color: gainsboro;
	}
}
