.searchCont {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;
	width: 100%;
	max-width: 1100px;
	margin-top: 4rem;
}

.search {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;
	width: 50%;
	min-width: 300px;
}

.inputCont {
	width: 100%;
	padding: 5px 15px;
	border-radius: 30px;
	min-width: 300px;
	height: 40px;
	background-color: white;
	display: flex;
	align-items: center;
}

.search input {
	border-radius: 10px;
	min-width: 280px;
	height: 40px;
	width: 100%;
	outline: none;
	border: none;
	background-color: transparent;
	box-shadow: none;
}

.options {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 40px;
	background-color: whitesmoke;
	width: 100%;
	min-width: 300px;
	border-radius: 10px;
	color: rgb(37, 37, 37);
	margin-top: 5px;
	padding: 10px 0;
	min-height: 50px;
	max-height: 100vh;
	text-overflow: ellipsis;
	overflow: hidden;
	z-index: 5;
}

.options div {
	max-height: calc(20rem - 10px);
	overflow-y: scroll;
}
.options div::-webkit-scrollbar {
	display: none;
}

.options a {
	display: flex;
	font-size: 1rem;
	height: 4rem;
	/* width: 55px; */
	/* position: absolute; */
	/* top: 15px; */
	/* left: 1.5rem; */
	width: 100%;
	padding: 2px 0;
	padding-left: 15px;
}

.options a span {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.options a span :nth-child(n + 2) {
	font-size: 0.8rem;
}

.custom_loader {
	position: absolute;
	right: 20px;
	--d: 11px;
	width: 2px;
	height: 2px;
	border-radius: 50%;
	color: #0f0f0fda;
	box-shadow: calc(1 * var(--d)) calc(0 * var(--d)) 0 0,
		calc(0.707 * var(--d)) calc(0.707 * var(--d)) 0 0.5px,
		calc(0 * var(--d)) calc(1 * var(--d)) 0 1px,
		calc(-0.707 * var(--d)) calc(0.707 * var(--d)) 0 1.5px,
		calc(-1 * var(--d)) calc(0 * var(--d)) 0 2px,
		calc(-0.707 * var(--d)) calc(-0.707 * var(--d)) 0 2.5px,
		calc(0 * var(--d)) calc(-1 * var(--d)) 0 3px;
	animation: s7 1s infinite steps(8);
}

@keyframes s7 {
	100% {
		transform: rotate(1turn);
	}
}

@media (hover: hover) and (pointer: fine) {
	.options a:hover {
		background-color: gainsboro;
	}
}
